[Desktop Entry]
Name=realme Buds T310
Comment=Controller for realme Buds T310 earbuds
Exec=/usr/bin/realme-t310-controller
Icon=realme-t310-controller
Type=Application
Categories=AudioVideo;Audio;
Terminal=false